<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>紫金驾考题库管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/login.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script type="text/javascript"
            src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/static/layui/xadmin.js}" charset="utf-8"></script>
    <script th:inline="javascript">
        function checkOut(){
            if(confirm("是否确认退出?")){
                top.location.href="checkOut.action";
            }
        }
        $(function (){
            var id=GetQueryString("username");
            if (id!=null&&id!="admin"){
                console.log("普通用户登录");
                $("#qus").css("display","none");
            }else{
                return;
            }
        });
        function GetQueryString(username)
        {
            var reg = new RegExp("(^|&)"+ username +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  decodeURI(r[2]); return null;
        }



    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="#">紫金驾考题库管理系统</a>
    </div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>

<!--    <ul class="layui-nav right" lay-filter="">-->
<!--        <li class="layui-nav-item"><a href="javascript:;">admin</a>-->
<!--            <dl class="layui-nav-child">-->
<!--                &lt;!&ndash; 二级菜单 &ndash;&gt;-->
<!--                <dd>-->
<!--                    <a th:href="login">退出</a>-->
<!--                </dd>-->
<!--            </dl></li>-->

<!--    </ul>-->
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li><a th:onclick="'javascript:;'"> <i class="iconfont left-nav-li">&#xe6b8;</i>
                <cite>题库系统菜单</cite> <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
<!--                        <a onclick="xadmin.add_tab('题库管理','./examManager')">-->
                        <a id="qus" href="examManager" target="contentPage">
                        <i class="iconfont">&#xe6a7;</i> <cite>题库管理</cite>
                    </a></li>
<!--                    <li><a onclick="xadmin.add_tab('增加学生','FindAllClasssName')">-->
<!--                        <i class="iconfont">&#xe6a7;</i> <cite>增加学生</cite>-->
<!--                    </a></li>-->
<!--                    <li><a onclick="xadmin.add_tab('班级管理','ClasssList')">-->
<!--                        <i class="iconfont">&#xe6a7;</i> <cite>班级管理</cite>-->
<!--                    </a></li>-->
                </ul></li>
            <li><a th:onclick="'javascript:;'"> <i class="iconfont left-nav-li">&#xe6b8;</i>
                <cite>开始考试</cite> <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
<!--                        <a onclick="xadmin.add_tab('开始考试','./exam')">-->
                        <a href="exam" target="_blank">
                        <i class="iconfont">&#xe6a7;</i> <cite>开始测试</cite>
                    </a></li>
                    <li>
<!--                        <a onclick="xadmin.add_tab('考试记录','./examDetail')">-->
                        <a href="examHistory" target="contentPage">
                        <i class="iconfont">&#xe6a7;</i> <cite>考试记录</cite>
                    </a></li>
                </ul></li>

            <li><a th:onclick="'javascript:;'"> <i class="iconfont left-nav-li">&#xe6b8;</i>
                <cite>系统管理</cite> <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="changePwd" target="contentPage">
                        <i class="iconfont">&#xe6a7;</i> <cite>密码重置</cite>
                    </a></li>
                    <li>
                        <a onclick="checkOut()">
                        <i class="iconfont">&#xe6a7;</i> <cite>系统退出</cite>
                    </a></li>
                </ul></li>

        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><a href="welcome" target="contentPage"/><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected"
             id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='welcome' name="contentPage" frameborder="0" scrolling="yes"
                        class="x-iframe"></iframe>
<!--                <iframe src="" name="contentPage" -->
<!--                        scrolling="yes" frameborder="0" width="788px" height="470px">-->
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>

</body>

</html>