<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>紫金学院驾考登录系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/login.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script type="text/javascript"
            src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/static/layui/layui.js}" charset="utf-8"></script>
<!--    <script type="text/javascript" src="../template/js/jquery-1.8.3.min.js"></script>-->
    <script type="text/javascript">
        function register(){
            window.location.href="regist";
        }
        function doLogin(){
            var username=$("#username").val();
            var password=$("#password").val();
            $.ajax({
                type:"POST",
                url:"user/doLogin.action",
                data:{
                    "username":username,
                    "password":password
                },
                dataType:"text",
                success:function (res){
                    if(username=="admin"){
                        alert("管理员你好");
                        location.href="admin";
                    }else if(res=="ok"){
                        alert("登录成功");
                        location.href="admin";
                    }else{
                        alert("登录失败"+res);
                    }
                }
            });
        }
    </script>
</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">系统登录</div>
    <div id="darkbannerwrap"></div>

<!--    <form method="post" class="layui-form" action="">-->
        <input id="username" placeholder="用户名" type="text"
               class="layui-input"/>
    <hr class="layui-border-green">
        <input id="password" placeholder="密码" type="password"
               class="layui-input"/>
    <hr class="layui-border-green">
        <input value="登录" style="width: 100%;" type="button" onclick="doLogin()"/>
<!--        <input value="注册" style="width: 100%;margin-top: 10px" type="button"/>-->
        <input value="注册" style="width: 100%;margin-top: 10px" type="button" onclick="register()"/>
<!--        <hr class="hr20">-->
<!--        <h3 style="color: red;">${error }</h3>-->
<!--    </form>-->
</div>
</body>
</html>